.albumImage {
    width: 80%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  
  .albumImage img {
    border-radius: 30px;
    width: 100%;
    aspect-ratio: 1;
  }
  
 