.left-playerbody{
    width: 74%;
    margin-right: 2%;
    height: 100%;
  
  
  }
  
  .right-playerbody {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }
   